@import url(./reset.css);

@media screen and (min-width: 1024px){
    .nav{
        width: 90%;
        /* justify-content: center; */
        /* margin: auto auto; */
    }

    .nav #input__search{
        left: 5%;
    }

    .nav #logo{
        
        width: 80%;
        text-align: center;
    }

    .main #cards{
        width: 100%;
        
        padding: 20px;
        column-gap: 30px;
    }

    .main #cards #card{
        width: 100%;
    }

    .main #card a{
        width: 80%;
        margin-bottom: 10px;
    }

    .footer{
        height: 35%;
        gap: 0px;
        justify-content: space-around;
    }
}